body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.gobinda-color {
    color: orangered;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    padding-bottom: 25%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: larger;
}

.background-image {
    background-image: url(images/index3.jpg);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/bcg22.png);
    background-repeat: no-repeat;
    background-position: right;

}